{{ $settingsCode := .Site.GetPage "/settings/code" -}}
<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{{ partial "head_meta.html" . }}
	{{ block "head_meta_includes" . }}{{ end }} 

	<!-- Styles -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">

	{{ block "head_includes" . }}{{ end }} 
	{{ with $settingsCode.Params.siteheader }}{{ . | safeHTML }}{{ end }}
</head>
<body class="kind-{{ .Kind }}{{with .Section }} section-{{ . }}{{ end }}">
{{ block "header" . }}
	<header class="site-header">
		{{ partial "navigation.html" . -}}
	</header>
{{ end }}

{{ block "main" . }}{{ end }}

{{ block "footer" . }}
	{{ partial "footer.html" . -}}
{{ end }}

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/medium-zoom.min.js"></script>
<script src="/js/app.js"></script>
{{ block "body_includes" . }}{{ end }} 
{{ with $settingsCode.Params.sitefooter }}{{ . | safeHTML }}{{ end }}
</body>
</html>
