{{ $designPage := .Site.GetPage "/settings/design" -}}
{{ $defaultColor := "#ff7260" }}
.main-color {
  color: {{ $designPage.Params.color | default $defaultColor }} !important;
}

.main-background {
  background-color: {{ $designPage.Params.color  | default $defaultColor }} !important;
}

a {
  color: {{ $designPage.Params.color  | default $defaultColor }};
}

a:hover {
  color: {{ $designPage.Params.color  | default $defaultColor }};
}

.btn-main {
  background-color: {{ $designPage.Params.color  | default $defaultColor }};
  border-color: {{ $designPage.Params.color  | default $defaultColor }};
}

.btn-outline-main {
  color: {{ $designPage.Params.color  | default $defaultColor }} !important;
  border-color: {{ $designPage.Params.color  | default $defaultColor }};
  box-shadow: none !important;
}

.btn-outline-main:hover {
  color: #fff !important;
  background-color: {{ $designPage.Params.color  | default $defaultColor }};
}

.article-content a {
  box-shadow: inset 0 -1px 0 {{ $designPage.Params.color  | default $defaultColor }};
}

.article-content a:hover {
  color: {{ $designPage.Params.color  | default $defaultColor }};
}

.article-content blockquote {
  border-left-color: {{ $designPage.Params.color  | default $defaultColor }};
}
