{{ $pag := $.Paginator }}
{{ $activePageNumber := $pag.PageNumber }}
{{ if gt $pag.TotalPages 1 }}
<div class="site-pagination d-flex justify-content-center">
  <ul class="pagination mb-0">
    {{ if $pag.HasPrev }}
    <li class="page-item">
      <a href="{{ $pag.Prev.URL }}" class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>
    {{ end }}
    {{ $ellipsed := false }}
    {{ $shouldEllipse := false }}
    {{ range $pag.Pagers }}
      {{ $showNumber := false }}
      {{/* Show if it is current number. */}}
      {{ if eq .PageNumber $activePageNumber }}{{ $showNumber = true }}{{ end }}
      {{/* Always show first and last number. */}}
      {{ if or (eq .PageNumber 1) (eq .PageNumber .TotalPages) }}{{ $showNumber = true }}{{ end }}
      {{/* If first is active, show first three. */}}
      {{ if and (eq $activePageNumber 1) (le .PageNumber 3) }}{{ $showNumber = true }}{{ end }}
      {{/* If last is active, show last three. */}}
      {{ if and (eq $activePageNumber .TotalPages) (gt .PageNumber (sub .TotalPages 3)) }}{{ $showNumber = true }}{{ end }}
      {{/* Always show one lower than current active. */}}
      {{ if eq .PageNumber (sub $activePageNumber 1) }}{{ $showNumber = true }}{{ end }}
      {{/* Always show one higher than current active. */}}
      {{ if eq .PageNumber (add $activePageNumber 1) }}{{ $showNumber = true }}{{ end }}
      {{ if $showNumber }}
          {{ $ellipsed = false }}
          {{ $shouldEllipse = false }}
      {{ else }}
          {{ $shouldEllipse = not $ellipsed }}
          {{ $ellipsed = true }}
      {{ end }}
      {{ if $showNumber }}
        {{ if eq .PageNumber $activePageNumber }}
        <li class="page-item active"><span class="page-link">{{ .PageNumber }}</span></li>
        {{ else }}
        <li class="page-item"><a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a></li>
        {{ end }}
      {{ else if $shouldEllipse }}
      <li class="page-item disabled">
        <div class="page-ellipse"><span aria-hidden="true">&nbsp;&hellip;&nbsp;</span></div>
      </li>
      {{ end }}
    {{ end }}
    {{ if $pag.HasNext }}
    <li class="page-item">
      <a href="{{ $pag.Next.URL }}" class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}