<div class="post-card-outer">
  <div class="post-card card">
    {{- if .Params.image }}
    <div class="card-image" style="background-image:url({{ partial `asset_url.html` (dict `folder` .RelPermalink `asset` .Params.image) }});"></div>
    {{- end }}
    <div class="card-body">
      {{ with .Params.tags -}}
      <ul class="card-tags list-inline">
        {{ range . -}}
        <li class="list-inline-item">
          <a href="{{ partial `tag_url.html` (dict `context` $ `tag` .) }}" class="above-stretched-link">#{{ . }}</a>
        </li>
        {{ end -}}
      </ul>
      {{ end -}}
      <h2 class="card-title">
        <a href="{{ .RelPermalink }}" class="stretched-link">{{ .Title | truncate 60 }}</a>
      </h2>
      <div class="card-text">
        {{ if .Params.image }}
          {{ .Description | default .Summary | truncate 160 }}
        {{ else }}
          {{ .Description | default .Summary | truncate 320 }}
        {{ end }}
      </div>
    </div>
    <div class="card-footer">
      {{ partial "post_date.html" . }}
      {{ if .Params.pinned }}
        <span class="card-pin float-right main-color" title="Angehefteter Post">
          {{ partial "icon_pin.html" . }}
        </span>
      {{ end }}
    </div>
  </div>
</div>