{{ define "head_meta_includes" -}}
{{ $posts := where (where .Site.Pages "Section" "posts") "Params.pinned" "!=" true -}}
{{ $posts := $posts | union (where (where .Site.Pages "Section" "posts") "Params.pinned" true) -}}
{{ $paginator := .Paginate $posts -}}
{{ .Scratch.Set "paginator" $paginator -}}

{{ if $paginator.HasNext -}}
	<link rel="next" href="{{ $paginator.Next.URL }}" />
{{ end -}}
{{ if $paginator.HasPrev -}}
	<link rel="prev" href="{{ $paginator.Prev.URL }}" />
{{ end -}}
{{ end }}

{{ define "header" }}
{{ $settingsGeneral := .Site.GetPage "/settings/general" -}}
{{ $settingsDesign := .Site.GetPage "/settings/design" -}}

{{ $headerStyle := "" -}}
{{ if $settingsDesign.Params.image -}}
{{ $headerStyle = print `background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)), url(` $settingsDesign.Params.image `);` -}}
{{ end -}}
<header class="site-header site-header-img"{{ with $headerStyle }} style="{{ . | safeCSS }}"{{ end }}>
	{{ partial "navigation.html" . }}

	<div class="site-header-img-content container d-flex flex-column justify-content-center">
		<h1 class="site-title">
			{{ $settingsGeneral.Title | default "[Titel]" }}
		</h1>
		<h2 class="site-description">
			{{ $settingsGeneral.Description | default "[Untertitel]" }}
		</h2>
	</div>
</header>
{{ end }}

{{ define "main" }}
<main class="site-main container">
	<div class="post-card-deck card-deck">
		{{ range (.Scratch.Get "paginator").Pages }}
			{{ partial "post_card.html" . }}
		{{ end }}
	</div>
	{{ partial "pagination.html" . }}
</main>
{{ end }}