{{ define "head_meta_includes" -}}
{{ $posts := where (where .Site.Pages "Section" "posts") "Params.pinned" "!=" true -}}
{{ $posts := $posts | union (where (where .Site.Pages "Section" "posts") "Params.pinned" true) -}}
{{ $paginator := .Paginate $posts .Site.Params.paginateHome -}}
{{ .Scratch.Set "paginator" $paginator -}}

{{ if $paginator.HasNext }}<link rel="next" href="{{ $paginator.Next.URL | absURL }}" />{{ end }}
{{ if $paginator.HasPrev }}<link rel="prev" href="{{ $paginator.Prev.URL | absURL }}" />{{ end }}
{{ end }}

{{ define "header" }}
{{ $settingsGeneral := .Site.GetPage "/settings/general" -}}
{{ $settingsDesign := .Site.GetPage "/settings/design" -}}

{{ $headerStyle := "" -}}
{{ if $settingsDesign.Params.image -}}
{{ $headerStyle = print `background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)), url(` $settingsDesign.Params.image `);` -}}
{{ else -}}
{{ $headerStyle = print `background-color: ` $settingsDesign.Params.color `;` -}}
{{ end -}}
<header class="site-header site-header-img"{{ with $headerStyle }} style="{{ . | safeCSS }}"{{ end }}>
	{{ partial "navigation.html" . }}

	<div class="site-header-img-content container d-flex flex-column justify-content-center">
		<h1 class="site-title">
			{{ $settingsGeneral.Title | default "[Title]" }}
		</h1>
		<h2 class="site-description">
			{{ $settingsGeneral.Description | default "[Subtitle]" }}
		</h2>
	</div>
</header>
{{ end }}

{{ define "main" }}
<main class="site-main container">
	<div class="post-card-deck row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
		{{ range (.Scratch.Get "paginator").Pages }}
			{{ partial "post_card.html" . }}
		{{ end }}
	</div>
	{{ partial "pagination.html" . }}
	<div class="d-flex justify-content-center mt-3">
		<a class="link-gray-no-underline" href="/archive/">— Archive —</a>
	</div>
</main>
{{ end }}

{{ define "head_includes" }}
{{/* Used to redirect the user during Netlify sign up or log in. See also script in body_includes. */}}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{ end }}

{{ define "body_includes" }}
{{/* Used to redirect the user during Netlify sign up or log in. See also script in head_includes. */}}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}
