{{ define "header" }}
<header class="site-header">
	{{ partial "navigation.html" . }}

	<div class="tag-header container">
    <h5 class="tag-description">
      <a href="/tags/">&larr; Alle Tags anzeigen 🏷️</a> 
    </h5>
		<h1 class="tag-title">
      <span>#{{ .Title }}</span>
		</h1>
	</div>
</header>
{{ end }}

{{ define "main" }}
<main class="site-main container">
  <div class="post-card-deck card-deck">
    {{ range .Pages }}
      {{ partial "post_card.html" . }}
    {{ end }}
  </div>
</main>
{{ end }}
